<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {{> common/linkTags }}
</head>
<body>
  {{> common/navbar }}
  
 <section class="about-container ">
  <div data-aos="fade-right">
     <img
        src="../assets/svg/plane.svg"
        alt="Logo"
        class="d-inline-block align-text-top img15"
      />
  </div>
  <div class="about-sec" data-aos="fade-left">
    <h1>Walk through the world with us</h1>
      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id elementum. Quam vel aliquam sit vulputate. </p>
  </div>
 </section>
 
  {{> common/footer }}
    {{> common/scriptTags }}
</body>
</html>