<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {{> common/linkTags }}
</head>
<body>
  {{> common/navbar }}

  <main class="contact-container">
    <section class="contact-box ">
		  <div data-aos="fade-right">
     <img
        src="../assets/svg/direction.svg"
        alt="Logo"
      
        class="d-inline-block align-text-top img10"
      />
  </div>
  <div data-aos="fade-right" class="contact-sec-left">
      <h1>Walk through the world with us</h1>
      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id elementum. Quam vel aliquam sit vulputate. </p>
       </div>
      </section>
 <div class="form-container mt-5">
		<form data-aos="fade-left">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" name="name" required>
			</div>

			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" class="form-control" id="email" name="email" required>
			</div>

			<div class="form-group">
				<label for="message">Message:</label>
				<textarea class="form-control" id="message" name="message" rows="5" required></textarea>
			</div>

			<button class='btn btn-main rounded-pill mt-5' type='submit'>Send</button>
		</form>
	</div>
  </main>
  {{> common/footer }}
    {{> common/scriptTags }}
</body>
</html>