@import '../../node_modules/bootstrap/scss/mixins';
@include media-breakpoint-down(lg) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    color: $gray-800;
  }
  .contact-container, .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 0;
  }
  .head-l {
    margin-top: 3rem;
  }
 
  .navbar {
    color: $white;
    box-shadow: 0 3px 2px rgba(39, 39, 54, 0.2);
    z-index: 10;
  }

  .nav-boundary a,
  .nav-boundary a:hover {
    color: $white;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
.boxy{
  padding: .5rem;
}
  #subnav {
    background-color: $gray-300;
    padding: 0.5rem;

    z-index: 3;
  }

  #content {
    margin-top: 2rem;
  }

 
  .navbar-toggler:focus,
  .navbar-toggler:active {
    box-shadow: none;
    outline: none;
  }
  .offcanvas {
    background-color: $pink;
  }
  .prin:hover {
    background-color: $blue;
    color: $white;
  }

  .navbar-toggler-icon {
    color: $white;
  }
  #submenu-icon {
    color: $blue;
  }
  .sub-nav:hover {
    color: $gray-300;
  }

  .footer-container {
    flex-direction: column;
    color: $gray-800;
    background-color: $gray-100;
  }
  .footer-content p {
    font-size: 12px;
  }
  .footer-media {
    width: 2rem;
  }
  .form-container{
    padding: 1rem 2rem;
    width: 100vw;
   }
   .contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .contact-sec-left, .about-sec {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    h1 {
      font-size: 2rem;
    }
  }
  .img10{
    width: 6rem;
  }
  .img15{
    width: 10rem;
  }
}



@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
