.table {
  th {
    font-size: 1.125rem;
  }
  td {
    vertical-align: middle;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 0.5rem;
      }
    }
    .btn-group {
      display: flex;
      justify-content: space-between;
      button {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }
  }
}

#table-box {
  max-width: 20rem;
}
