<div class="accordion me-5" id="accordionId">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button text-success"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        200
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <!-- Content Start -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#schemaTab"
              >Schema</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#jsonTab">Json</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="schemaTab" class="tab-pane fade show active">
            <!-- Content table-->
            <table class="table table-striped-columns">
              <thead>
                <tr>
                  <th scope="col">Object</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td class="fst-italic text-end opt-col">optional</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td class="fst-italic text-end opt-col">required</td>
                </tr>
                <tr>
                  <td>Larry the Bird</td>
                  <td></td>
                  <td class="fst-italic text-end opt-col">optional</td>
                </tr>
              </tbody>
            </table>
            <!-- Content switch -->
          </div>
          <div id="jsonTab" class="tab-pane fade">
            <!-- Json start-->

            <pre class="pre-container"><code class="language-json pre-code ">
            {
            "adult": false,
            "backdrop_path": "/fCayJrkfRaCRCTh8GqN30f8oyQF.jpg",
            "belongs_to_collection": null,
            "budget": 63000000,
            "genres": [
              {
                "id": 18,
                "name": "Drama"
              }
            ],
            "homepage": "",
            "id": 550,
            "imdb_id": "tt0137523",
            "original_language": "en",
            "original_title": "Fight Club",
            "overview": "A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \"fight clubs\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.",
            "popularity": 0.5,
            "poster_path": null,
            "production_companies": [
              {
                "id": 508,
                "logo_path": "/7PzJdsLGlR7oW4J0J5Xcd0pHGRg.png",
                "name": "Regency Enterprises",
                "origin_country": "US"
              },
              {
                "id": 711,
                "logo_path": null,
                "name": "Fox 2000 Pictures",
                "origin_country": ""
              },
            }</code></pre>
          </div>
        </div>
        <!-- Content end -->
      </div>
    </div>
  </div>
  <!-- Second -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed text-warning"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        300
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <!-- Content Start -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#schemaTab2"
              >Schema</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#jsonTab2">Json</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="schemaTab2" class="tab-pane fade show active">
            <!-- Content table-->
            <table class="table table-striped-columns">
              <thead>
                <tr>
                  <th scope="col">Object</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td class="fst-italic text-end opt-col">optional</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td class="fst-italic text-end opt-col">required</td>
                </tr>
                <tr>
                  <td>Larry the Bird</td>
                  <td></td>
                  <td class="fst-italic text-end opt-col">optional</td>
                </tr>
              </tbody>
            </table>
            <!-- Content switch -->
          </div>
          <div id="jsonTab2" class="tab-pane fade">
            <!-- Json start-->

            <pre class="pre-container"><code class="language-json pre-code ">
            {
            "adult": false,
            "backdrop_path": "/fCayJrkfRaCRCTh8GqN30f8oyQF.jpg",
            "belongs_to_collection": null,
            "budget": 63000000,
            "genres": [
              {
                "id": 18,
                "name": "Drama"
              }
            ],
            "homepage": "",
            "id": 550,
            "imdb_id": "tt0137523",
            "original_language": "en",
            "original_title": "Fight Club",
            "overview": "A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \"fight clubs\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.",
            "popularity": 0.5,
            "poster_path": null,
            "production_companies": [
              {
                "id": 508,
                "logo_path": "/7PzJdsLGlR7oW4J0J5Xcd0pHGRg.png",
                "name": "Regency Enterprises",
                "origin_country": "US"
              },
              {
                "id": 711,
                "logo_path": null,
                "name": "Fox 2000 Pictures",
                "origin_country": ""
              },
            }</code></pre>
          </div>
        </div>
        <!-- Content end -->
      </div>
    </div>
  </div>
  <!-- Third -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button
        class="accordion-button collapsed text-danger"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        400
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        This is the content for accordion item #3.
      </div>
    </div>
  </div>
</div>


