<footer id="footer" class="footer-container d-flex justify-content-between align-items-center p-5  mt-5">
    <div class="footer-content">
        <h5>Careers</h4>
        <p>careers.gmail.com</p>
        <p>© 2023 Vaultflow. All Rights Reserved.</p>
    </div>
    <div> <image src="../assets/images/logo.png" alt="folder" class="footer-media "></image></div>
</footer>