<footer id="footer" class="footer-container d-flex justify-content-between align-items-center p-5  mt-5">
    <div class="footer-content">
     <image src="../assets/svg/kezlit.svg" alt="folder" class="footer-media "></image>
        <h5>Careers</h4>
        <p>careers.gmail.com</p>
        <p>© 2023 Vaultflow. All Rights Reserved.</p>
        <section>
            <h4>Subscribe to our newsletter</h4>
            <div class="d-flex">
            <input/>
            <button class="btn" type="submit"><i class="iconify fs-4" data-icon="fe:arrow-right"></i></button>
            </div>
        </section>
    </div>
    <section class="d-flex">
    <div class="footer-content m-5">
        <p>Services</p>
        <p>Email Marketing</p>
        <p>Campaigns</p>
        <p>Branding</p>
        <p>Offline</p>
    </div>
    <div class="footer-content m-5">
        <p>About</p>
        <p>Our Story</p>
        <p>Benefits</p>
        <p>Team</p>
        <p>Careers</p>
    </div>
    </section>
    <section>
        <button class="btn" type="submit"><i class="iconify fs-4" data-icon="fe:arrow-up"></i></button>
        <div>
            <a href="#">

          <i class="iconify fs-4" data-icon="fe:facebook"></i>
            </a>
            <a href="#">
          <i class="iconify fs-4" data-icon="fe:twitter"></i>

            </a>
            <a href="#">

          <i class="iconify fs-4" data-icon="fe:instagram"></i>
            </a>
        </div>
    </section>
</footer>