<nav class="navbar navbar-expand-lg d-flex justify-content-center " id="navbar">
  <div class="container-fluid nav-boundary ">
    <a class="navbar-brand" href="index.html">
      <img
        src="../assets/images/logo.png"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      Kezlit
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbar-collapse"
      aria-controls="navbar-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      id="navbar-toggler"
    >
      <i data-feather="menu" id="menu-icon" class="navbar-toggler-icon"></i>
    </button>
    <div class="offcanvas offcanvas-end text-white" id="navbar-collapse">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
        <li class="nav-item me-4 ">
          <a
            class="nav-link active text-white"
            aria-current="page"
            href="about.html"
          >
            About
          </a>
        </li>
        <li class="nav-item me-4 ">
          <a
            class="nav-link active text-white"
            aria-current="page"
            href="contact.html"
          >
            Contact
          </a>
        </li>
        
      </ul>
    </div>
    </div>
  </div>
</nav>
