<nav class="navbar navbar-expand-lg " id="subnav">
      <div class="container-fluid ms-3" id="layer2">
        <button
          class="sub-toggler border-0"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sub-collapse"
          aria-controls="sub-collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
          id="sub-toggler"
        >
          <i data-feather="book-open" id="sumenu-icon"></i>
        </button>
        <div class="offcanvas offcanvas-start" id="sub-collapse">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
        
          </div>
        </div>
      </div>
    </nav>
   